@model IEnumerable<Utalca.Models.Profesor>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Profesores - Facultad Ingeniería";
}

<div class="row">
    <div class="well">
        <h2>Profesores</h2>
    </div>
</div>


<div class="row">
    @foreach (var profesor in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="left" src="/Content/img/imgNoDisponible.png" alt="logo" style="height: 200px;">
                <div class="caption">
                    <h3>@profesor.Nombre</h3>
                    <p>
                        <a href="@Url.Action("Detalles", "Profesor", new { id = profesor.ID })" class="btn btn-primary" role="button">Perfil</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
