
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ProfesorNoEncontrado";
}
<div class="jumbotron">
    <p><a class="btn btn-lg btn-primary" href="@Url.Action("Index", "Profesor")">Volver a profesores</a></p>
    <a href="@Url.Action("Index", "Curso")" class="btn btn-primary" role="button">Mis Cursos</a>
</div>
<script>
        $(document).ready(function () {
            var titulo = $('h3').text("Académico No Encontrado");
            console.log(titulo);
        });
</script>