@model IEnumerable<Utalca.Models.Alumno>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Estudiante - Facultad Ingeniería";
}


<div class="row">
    <div class="col-md-3">
        <div class="gallery-box">
            <img style="width: 200px;" src="/Content/img/Chewbacca.png" />
        </div>
        <h4 id="nombre" hidden="true" class="card-title">@Model.Nombre </h4>
        <hr style="clear:both" />
        

    </div>
    <div class="col-md-9 ">
        <div class="panel panel-default" style="background-color:#f9f9f9">
            <div class="panel-body">
                <h3>Biografía</h3>
                <hr style="clear:both" />
                <p>@Model.Biografia</p>

            </div>
        </div>
    </div>
</div>
<script>
        $(document).ready(function () {
            var titulo = $('#titulo').text("Académicos");
            console.log(titulo);
        });
</script>